#Kedro y Config
conf/local/**
!conf/local/.gitkeep
conf/**/*credentials*
.viz/


#DVC, se van a otro lado
!.dvc/**
!.dvcignore
.dvc/cache/**
.dvc/tmp/**
.dvc/config.local


# DATA!

data/**

!*.dvc
!data/**/.gitkeep
!data/**/README.md
!data/08_reporting/**/*.csv
!data/08_reporting/**/*.html


# Modelos
**/06_models/**
!**/06_models/.gitkeep
!**/06_models/**/*.dvc


#Notebooks
**/.ipynb_checkpoints/
*.ipynb~
notebooks/backup_*


#Python y Entorno

.venv/
env/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
.env
.python-version


#Airflow
airflow/logs/**
airflow/postgres-data/**
airflow/plugins/__pycache__/
airflow/dags/__pycache__/
!airflow/dags/**
!airflow/docker-compose.yaml
!airflow/requirements-airflow.txt
!airflow/Dockerfile


# Otros, como tests, builds y docs

build/
dist/
.eggs/
*.egg-info/
wheels/
.tox/
.coverage*
.cache
htmlcov/
hypothesis/
docs/_build/
site/

# IDE / OS
*.DS_Store
.idea/
*.iml
.vscode/

# Notebook pero sin chekspoints
!notebooks/**
/data
