conf/local/**
!conf/local/.gitkeep
conf/**/*credentials*

*.dvc        !# keep
!.dvc/**
!.dvcignore


data/**
!data/**/             # conserva las carpetas para que existan en Git
!.gitkeep


.viz/

*.log



__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/


.venv/
env/
venv/
ENV/
.env
.python-version


build/
dist/
.eggs/
*.egg-info/
.wheels/


.tox/
.coverage*
.cache
htmlcov/
.hypothesis/


docs/_build/
site/


*.DS_Store
.idea/
*.iml
.vscode/